.App {width: 85%;
  margin: auto;}


header {
  color: black;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.headerName {
  text-align: end;
  font-family: monospace;
  font-size: xx-large;
}
.headerMenu {
  text-align: start;
  margin-top: 12%;
  font-family: monospace;
  font-size: xx-large;
}
.headerMenu span {
  padding: 0px 1em;
  /* margin-right: 1em; */
  font-weight: bolder;
  /* width: 30%;
  margin-left: 5em; */
  /* margin-right: 1em; */
}
.menuBar{
  /* color: white; */
  /* position: sticky; */
  top: 0px;
  padding: 0.9em;
  margin: 0;
  /* justify-content: space-between; */
}
.menuBar span {
  padding: 0px 5em;
  width: 30%;
  margin-left: 5em;
  margin-right: 1em;
}



.display{
  visibility: visible;
  color: red;
}

.displayNot{
  visibility: hidden;
}



h2 {
  height: 50px;
  margin: 0 auto; 
  background-color: lightsteelblue;
  padding-top: 1%;
  padding-left: 1%;
  font-family: monospace;
}

p {
  color: rgb(52, 96, 133);
  font-size: 20px
}

img {
  width: 300px
}

.bestSeller {
  border: 1px solid black;
}


.grid3 > div {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}






.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  font-size: 20px;
  font-family:monospace;
}